.btn-primary {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.btn-primary:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-primary .badge {
  color: #f0ad4e;
  background-color: #fff;
}



.btn-primary {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image:      -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#eb9316));
  background-image:         linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #e38d13;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #eb9316;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #eb9316;
  border-color: #e38d13;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #eb9316;
  background-image: none;
}


.panel-primary {
  border-color: #f0ad4e;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #f0ad4e;
}
.panel-primary > .panel-heading .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #f0ad4e;
}

.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #f1ac4d 100%);
  background-image:      -o-linear-gradient(top, #f0ad4e 0%, #f1ac4d 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#f1ac4d));
  background-image:         linear-gradient(to bottom, ##f0ad4e 0%, #f1ac4d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0ad4e', endColorstr='#f1ac4d', GradientType=0);
  background-repeat: repeat-x;
}
.panel-default > .panel-heading {
  text-transform: uppercase;
  font-weight: bold;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}
.card-title {
  margin-bottom: 0.75rem;
}
.card-text:last-child {
  margin-bottom: 0;
}

.card-columns {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
.card-columns .card {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.25rem;
}

@media (min-width: 0em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
@media (min-width: 576px) {
  .card-deck {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card-deck .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-deck .card:not(:first-child) {
    margin-left: 15px;
  }
  .card-deck .card:not(:last-child) {
    margin-right: 15px;
  }
}
.card-img {
  border-radius: calc(0.25rem - 1px);
}
.card-img-top {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.card-holder {
  background-color: #eee;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 60px;
}
footer {
  text-align: center;
}
.footer {
  position: absolute;
  padding-top: 20px;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.container-fluid {
  margin-left: 50px;
  margin-right: 50px;
}

.jumbotron{
  background-color: #f2f2f2;
}

.jumbo-white{
  background-color: #fff;
}

.no-bottom{
  padding-bottom: 0px;
}

.proposal-text{
  font-size: 20px;
  font-weight: lighter;
}
.action-text{
  font-size: 20px;
  font-weight: lighter;
}
.proposal-comment{
  font-size: 20px;
  font-weight: lighter;
}