.panel-modern {
  border-color: #555;
  font-weight: lighter;
}


.panel-modern > .panel-heading {
  color: #fff;
  background-color: #555;
  border-color: #555;
}
.panel-modern > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #555;
}
.panel-modern > .panel-heading .badge {
  color: #555;
  background-color: #fff;
}
.panel-modern > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #555;
}


.panel-modern-green {
  border-color: #5cb85c;
}
.panel-modern-green > .panel-heading {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.panel-modern-green > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #5cb85c;
}
.panel-modern-green > .panel-heading .badge {
  color: #5cb85c;
  background-color: #fff;
}
.panel-modern-green > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #5cb85c;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  word-wrap: break-word !important;
}
.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}
.card-title {
  margin-bottom: 0.75rem;
}
.card-text:last-child {
  margin-bottom: 0;
}

.card-columns {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
.card-columns .card {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.25rem;
}


@media (min-width: 0em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
@media (min-width: 576px) {

  .card-deck {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card-deck .card {
    max-width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-deck .card:not(:first-child) {
    margin-left: 15px;
  }
  .card-deck .card:not(:last-child) {
    margin-right: 15px;
  }
}
.card-img {
  border-radius: calc(0.25rem - 1px);
}
.card-img-top {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.img-circle {
  width: 150px;
  height: 150px;
}
.img-small {
  width: 100px;
  height: 100px;
}
.img-msmall {
  width: 70px;
  height: 70px;
}
.img-xsmall {
  width: 30px;
  height: 30px;
}

.card-holder {
  background-color: transparent;
  border-color: transparent;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 60px;
}
h4, body, p {
  font-weight: lighter;
}
footer {
  text-align: center;
}

.list-group-item {
  font-weight: lighter;
}

.footer {
  position: absolute;
  padding-top: 20px;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.jumbotron{
  background-color: #f0f0f0;
}

.jumbo-white{
  background-color: #fff;
}

.jumbo-img{
  background-color: #88aa99;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.no-bottom{
  padding-bottom: 0px;
}

.no-margin-bottom{
  margin-bottom: 0px;
}

p{
  font-size: 18px;
  font-weight: lighter;
}
.action-text{
  font-size: 20px;
  font-weight: lighter;
}
.proposal-comment{
  font-size: 18px;
  font-weight: lighter;
}


.btn-modern {
  color: #555;
  background-color: transparent;
  border-color: #555;
  font-weight: lighter;
}
.modern-light {
  color: #f5f5f5;
  background-color: transparent;
  border-color: #f5f5f5;
  font-weight: lighter;
}
.btn-modern:focus,
.btn-modern.focus {
  background-color: #eee;
  border-color: #555;
}
.btn-modern:hover {
  color: #eee;
  background-color: #555;
  border-color: #555;
}

.btn-modern-dark {
  color: #eee;
  background-color: #555;
  border-color: #555;
}
.btn-modern-dark:focus,
.btn-modern-dark.focus {
  color: #555;
  background-color: #eee;
  border-color: #555;
}
.btn-modern-dark:hover {
  color: #555;
  background-color: #eee;
  border-color: #555;
}

.light {
  font-weight: lighter;
}
h1.light {
  font-size: 45px;
  color: #555;
}
h1.normal {
  font-size: 45px;
  font-weight: normal;
}
h1.home-title {
  font-weight: lighter;
  color: #555;
}

.rect {
  border-radius: 0 !important;
}

body {
  margin-top: 50px;
}
.jumbottom {
    min-height: 240px;
}
hr.styled {
  border-top: 1px solid #555;
}
.jumbo-full{
    height: 85vh;
}
.navbar-avatar{
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
}

.divider-left{
  border-left: 1px solid #aaa;
}

section.gray{
  background-color: #eee;
}

#map {
  min-width: 100px;
  height: 300px;
  max-width: 100%;
}

.dropdown-header{
  font-size: 14px;
}